@mixin middlePosition {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh !important;
  @include flexbox;
}

.card {
  @include flexbox;
  flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
  width: 24rem;
  background-color: var(--darkGrayish);
  border-radius: 1rem;

  &-title {
    color: var(--neonGreen);
    font-size: 0.7rem;
    letter-spacing: 3px;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }

  &-body {
    margin: 0 2rem 0rem;
    color: var(--lightCyan);
  }

  &-img {
    margin-top: 2rem;
    width: 20rem;
  }

  &-footer {
    position: relative;

    &-circle {
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: var(--neonGreen);
      box-shadow: 0 0 1em var(--neonGreen);
      transform: translate(0%, 50%);
      &-icon-dice {
        @include middlePosition;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 21rem;

    &-img {
      width: 17rem;
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 360px) {
  .card {
    width: 16rem;

    &-img {
      width: 13rem;
    }
  }
}
